@mixin fondo__texto {
    background-color:rgba($color: #7ef3d6, $alpha: 0.3);
    border-radius: 10px;
}

#titulo {
    font-size: 450%;
    font-family: 'Roboto', sans-serif;
    color:aqua;
    text-align: center;   
}

footer {
    margin-left: 30px;
    margin-top: 10px;
    color: yellow;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/*.galeria__texto {
    width: 50%;   
    color:rgb(233, 238, 241); 
    padding: 2%;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba($color: #7ef3d6, $alpha: 0.3);
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 1%;
}*/

.galeria__text {
    @include fondo__texto; 
    width: 100%;
    color:rgb(233, 238, 241); 
    padding: 2%;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 4%;
    margin-bottom: 10%;
}


.galeria__inicio {
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    color: aqua;
    text-decoration: none;

        &:hover{
            color: rgb(131, 15, 226);
            transition: all .3s;
}}

.servicio {
    @include fondo__texto; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(248, 250, 252);
    font-size: 50px;
    top: 50px;
    border-top:30px;
    text-align: center;
    }
    
p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        color: aliceblue;
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
    }

.lista {
    @include fondo__texto;
        color:rgb(209, 209, 212);
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 5px;
        margin-right: 40px;
    }
    
.servicio__titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 70px;
    top:50px;
    text-align: center;
    border-top: 30px;
    margin-bottom: 20px;
    }
    
.opinion {
        color:rgb(193, 243, 243);
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 5px;}
    
.texto_nosotros {
    p{
        @include fondo__texto; 
        font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    margin-right: 100px;
    border-radius: 1%;
}
}

.carrousel_text {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    text-align:center;
    font-size: 180%;
}