#titulo {
  font-size: 450%;
  font-family: "Roboto", sans-serif;
  color: aqua;
  text-align: center;
}

footer {
  margin-left: 30px;
  margin-top: 10px;
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

.galeria__texto, .galeria__texto__foto5 {
  width: 50%;
  color: rgb(233, 238, 241);
  margin-left: 50%;
  margin-top: -50%;
  margin-bottom: 3%;
  padding: 2%;
  font-size: 150%;
  font-family: "Roboto", sans-serif;
  background-color: rgba(126, 243, 214, 0.3);
  border-radius: 10px;
}

.galeria__inicio {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  color: aqua;
  text-decoration: none;
}
.galeria__inicio:hover {
  color: rgb(131, 15, 226);
  transition: all 0.3s;
}

/*Correccion de Galeria5*/
.galeria__texto__foto5 {
  max-width: 90%;
}

.servicio {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
  font-size: 50px;
  top: 50px;
  border-top: 30px;
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: aliceblue;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.lista {
  color: rgb(196, 179, 179);
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 40px;
}

.servicio__titulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
  font-size: 70px;
  top: 50px;
  text-align: center;
  border-top: 30px;
  margin-bottom: 20px;
}

.opinion {
  color: rgb(193, 243, 243);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.texto_nosotros p {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 80px;
  margin-right: 100px;
}

.carrousel_text {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  text-align: center;
  font-size: 180%;
}

* {
  margin: 0px;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #729292, #888ee7, #2b3b7a, #595894, #b6b2c4, #8f9daf, #86979e);
}

#fng {
  width: 70%;
  display: flex;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.ig {
  width: 70px;
  margin-left: 90%;
  border-radius: 20px;
  margin-left: 80%;
}

.wp {
  width: 70px;
  margin-left: 90%;
  border-radius: 20px;
  margin-top: -8.5%;
}

#titulo:hover {
  color: #49cdee;
}

#gif {
  width: 60%;
  margin-left: 30%;
  border-radius: 30px;
}

.marcas {
  width: 40%;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}

/*Fotos con descripcion de falla, usando metodologia BEM*/
.galeria {
  display: flex;
  width: 50%;
  border-radius: 10px;
  position: relative;
  margin-left: 10%;
  margin-top: 10px;
}

.fng__pages {
  margin-left: 50px;
  width: 20%;
}

.carrousel_img {
  width: 90%;
  margin-top: 3%;
  margin-left: 2%;
}

.widget {
  margin-left: -5%;
  width: 50%;
  margin-top: 3%;
  border-radius: 1%;
}

.arreglo {
  margin-top: 500px;
}/*# sourceMappingURL=estilos.css.map */