#titulo {
  font-size: 450%;
  font-family: "Roboto", sans-serif;
  color: aqua;
  text-align: center;
}

footer {
  margin-left: 30px;
  margin-top: 10px;
  color: yellow;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

/*.galeria__texto {
    width: 50%;   
    color:rgb(233, 238, 241); 
    padding: 2%;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba($color: #7ef3d6, $alpha: 0.3);
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 1%;
}*/
.galeria__text {
  background-color: rgba(126, 243, 214, 0.3);
  border-radius: 10px;
  width: 100%;
  color: rgb(233, 238, 241);
  padding: 2%;
  font-size: 150%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 4%;
  margin-bottom: 10%;
}

.galeria__inicio {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  color: aqua;
  text-decoration: none;
}
.galeria__inicio:hover {
  color: rgb(131, 15, 226);
  transition: all 0.3s;
}

.servicio {
  background-color: rgba(126, 243, 214, 0.3);
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(248, 250, 252);
  font-size: 50px;
  top: 50px;
  border-top: 30px;
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: aliceblue;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.lista {
  background-color: rgba(126, 243, 214, 0.3);
  border-radius: 10px;
  color: rgb(209, 209, 212);
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 40px;
}

.servicio__titulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
  font-size: 70px;
  top: 50px;
  text-align: center;
  border-top: 30px;
  margin-bottom: 20px;
}

.opinion {
  color: rgb(193, 243, 243);
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.texto_nosotros p {
  background-color: rgba(126, 243, 214, 0.3);
  border-radius: 10px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 80px;
  margin-right: 100px;
  border-radius: 1%;
}

.carrousel_text {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  text-align: center;
  font-size: 180%;
}

* {
  margin: 0px;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #729292, #888ee7, #6783f1, #9e9dd8, #b0a1e7, #8f9daf, #86979e);
}

#fng {
  width: 70%;
  display: flex;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

/* Acomodo de vinculos de contacto*/
.vinculo {
  display: flex;
  justify-content: end;
}

.ig {
  border-radius: 20px;
  max-width: 50px;
  width: 100%;
  margin: 20px;
}

.wp {
  border-radius: 20px;
  max-width: 50px;
  width: 100%;
  margin: 20px;
}

/* Fin Acomodo de vinculos de contacto*/
#titulo:hover {
  color: #49cdee;
}

#gif {
  display: block;
  width: 50%;
  margin-left: 0rem;
  border-radius: 30px;
  margin-top: 0rem;
}

.mapa {
  margin-left: 55%;
  display: block;
  margin-top: -25%;
  width: 50%;
}

.marcas {
  width: 40%;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}

/*Fotos con descripcion de falla, usando metodologia BEM*/
.galeria {
  display: flex;
  width: 50%;
  border-radius: 10px;
  position: relative;
  margin-left: 10%;
  margin-top: 10px;
}

.fng__pages {
  margin-left: 50px;
  width: 20%;
}

.carrousel_img {
  margin-top: 2%;
}

.carrousel-ig {
  display: flex;
  flex-flow: wrap;
  margin-top: 3%;
  margin-left: 5%;
}

.widget {
  border-radius: 1%;
  margin-left: 5%;
}

.arreglo {
  margin-top: 500px;
}

.carrousel-nt {
  width: 50%;
  margin-left: 19%;
  margin-top: 20px;
}

.img_ns {
  width: 40%;
  border-radius: 15px;
  box-shadow: 5px 8px 12px rgb(63, 62, 62);
  display: block;
  margin-top: 0rem;
  margin-left: 12rem;
}

.nos {
  width: 30rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px rgb(5, 25, 63);
  margin-left: 20px;
  margin-top: 20px;
}/*# sourceMappingURL=estilos.css.map */