@import "_fuentes.scss";

@mixin mix {
width:70%;
}

@mixin acceso {
    border-radius: 20px;
    max-width: 50px;
    width: 100%;
    margin:20px
}

*{
    margin: 0px;
    padding: 0;
}

body {
    background-image: linear-gradient(135deg, #729292, #888ee7, #6783f1, #9e9dd8, #b0a1e7, #8f9daf, #86979e);
}

#fng {
    @include mix;
    display: flex;
    margin:0 auto;
    border-radius: 30px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

                    /* Acomodo de vinculos de contacto*/
.vinculo {
    display: flex;
    justify-content:end;
}

.ig {
@include acceso;
}

.wp {
@include acceso;
}
                /* Fin Acomodo de vinculos de contacto*/

#titulo:hover {
    color: #49cdee;
}

#gif {
    display: block;
    width: 50%;
    margin-left: 0rem;
    border-radius: 30px;
    margin-top: 0rem;
}

.mapa {
    margin-left: 55%;
    display: block;
    margin-top: -25%;
    width: 50%;
}

.marcas {
    width: 40%;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

        /*Fotos con descripcion de falla, usando metodologia BEM*/

.galeria {
    display: flex;   
    width:50%;
    border-radius: 10px;
    position: relative;
    margin-left: 10%;
    margin-top: 10px; 
}

.fng__pages {
    margin-left:50px;
    width: 20%;
}

.carrousel_img {
    margin-top: 2%;
}

.carrousel-ig {
    display: flex;
    flex-flow: wrap;
    margin-top: 3%;
    margin-left: 5%;
}

.widget {
    border-radius: 1%;
    margin-left: 5%;
}

.arreglo {
margin-top: 500px;
}

.carrousel-nt {
    width: 50%;
    margin-left: 19%;
    margin-top: 20px;
}

.img_ns {
    width: 40%;
    border-radius: 15px;
    box-shadow: 5px 8px 12px rgb(63, 62, 62);
    display: block;
    margin-top: 0rem;
    margin-left: 12rem;
}

.nos {
    width: 30rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px rgb(5, 25, 63);
    margin-left: 20px;
    margin-top: 20px;

}